<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>微尺伴客</title>
		<meta name="format-detection" content="telephone=no, address=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- apple devices fullscreen -->
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
		<script type="text/javascript" src="/javascripts/util.js"></script>
		<script src="/javascripts/require.js"></script>
		<script src="/javascripts/jquery-1.10.2.min.js"></script>
		<link href="http://libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<script src="/javascripts/LCalendar.js"></script>
		<link href="/stylesheets/LCalendar.css" rel="stylesheet">
		<link href="/stylesheets/style.css" rel="stylesheet" />
		<script type="text/javascript">
			if(navigator.appName == 'Microsoft Internet Explorer') {
				if(navigator.userAgent.indexOf("MSIE 5.0") > 0 || navigator.userAgent.indexOf("MSIE 6.0") > 0 || navigator.userAgent.indexOf("MSIE 7.0") > 0) {
					alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
				}
			}
		</script>
	</head>

	<body>
		<div class="container container-fill">

			<h1 class="common-main-title">会员卡注册<br>
            <small class="common-sub-title">MEMBERSHIP&nbsp;REGISTRATION</small>
        </h1>

			

			<div class="common-input-div">
				<input id="js-mobile-val" class="common-input-inner" type="text" placeholder="请输入手机号码" />
			</div>

			<div style="height: 60px;">

				<div class="common-input-div" style="width: 48%; float:left; margin-right: 0">
					<input id="vercode" class="common-input-inner" type="text" placeholder="验证码">
				</div>

				<div class="common-input-div" style="width: 28%; float:right;margin-left: 0;">
					<div class="js-timer" style="margin-top: 4px;">
						<button class="common-input-inner" onclick="sendCode()"><span id="code-text" style="font-size: 14px;color: #464547;">获取验证码</span></button>
					</div>
				</div>

			</div>

			<div class="common-footer-text" style="height: 20px;margin-top: 15px;margin-bottom: 10px;">
				<span>为保障您的权益，请完善以下资料：</span>
			</div>

			<div class="common-input-div">
				<input class="common-input-inner" id="name" type="text" placeholder="请输入姓名" style="color: #868686" />
			</div>

			<div class="common-input-div">
				<input class='common-input-inner' id="gender" type="text" placeholder="请输入性别" style="color: #868686;" />
			</div>

			<div class="common-input-div">
				<input class="common-input-inner" id='birthday-picker' type="text" placeholder="请选择生日" style="color: #868686" readonly="readonly" />
			</div>

			<div class="common-footer-text">
				确认注册前，请详细阅读 <strong style="color: #000000">《会员细则》</strong>
			</div>

			<div class="common-btn-div">
				<button class="common-btn-inner" onclick="confirmRegister()" style="background-color: #1A1A1A;border: 0;"><span class="common-btn-text">确认注册</span></button>
			</div>

		</div>
	</body>

	<script type="text/javascript">
		$(function() {
			var curTime = new Date();
			var calendar = new LCalendar();
			calendar.init({
				'trigger': '#birthday-picker', //标签id
				'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
				'minDate': curTime.getFullYear() - 100 + '-' + 1 + '-' + 1, //最小日期
				'maxDate': curTime.getFullYear() + '-' + curTime.getMonth() + '-' + curTime.getDay() //最大日期
			});
		});

		function sendCode() {
			var data = {
				phone: $('#js-mobile-val').val().trim()
			};
			if(checkMobile(data)) {
				confirmSendCode(data)
			}
		}

		function sendLogin() {
			document.getElementById("loginForm").submit();
		}

		function sendRequest(request) {

			$.ajax({
				type: "POST",
				timeout: 10000,
				url: request.url,
				data: request.data,
				dataType: "json",
				success: function(res) {
					console.log("res : " + res["status"]);
					if(res['status'] != 1) {
						return alert(res['message']);
					}
					request.successCallback(res);
				},
				error: function(XMLHttpRequest, status) {
					if(status == 'timeout') {
						alert('请求超时，请稍后再试');
					} else {
						alert('请求失败，请稍后再试');
					}
				},
				complete: function() {

				}
			});
		}

		function checkMobile(data) {
			if(data.phone.length !== 11 || !/^1[3|4|5|7|8][0-9]{9}$/.test(data.phone)) {
				alert('请输入正确的手机号');
				return false;
			}
			return true;
		}

		function checkInfo(data) {
			if(!checkMobile(data)) {
				return false;
			}

			if(data.code.trim().length !== 6) {
				alert('请输入正确的验证码');
				return false;
			}
			if(data.name.trim().length == 0) {
				alert.toast('请输入姓名');
				return false;
			}

			if(data.gender.length == 0) {
				alert('请输入性别');
				return false;
			}

			if(data.birthday.length == 0) {
				alert('请输入生日');
				return false;
			}
			return true
		}

		function register(data) {
			var signUp = {
				url: "/users/register",
				data: data,
				successCallback: function(data) {
					//do nothing
					window.location.href = data.url;
				}
			}
			sendRequest(signUp);
		}

		function confirmSendCode(data) {
			// };
			var confirmSendCode = {
				url: "/idcode/sendCode",
				data: data,
				successCallback: function() {
					//do nothing
					var option = {
						'showElement': $('.js-timer'),
						'elementText': $('#code-text'),
						'showTips': "%ss",
						'btnTips': '<button class="common-input-inner" onclick="sendCode()"><span id="code-text" style="font-size: 14px;color: #464547;">获取验证码</span></button>'
					};
					sendCodeUI(option, 60);
				}
			}
			sendRequest(confirmSendCode);
		}

		function sendCodeUI(option, sec) {
			option.elementText.html(option.showTips.replace("%s", sec));
			option.showElement.attr('disabled', true);
			var timer = setInterval(function() {
				sec--;
				if(sec <= 0) {
					clearInterval(timer);
					sec = 60;
					option.showElement.html(option.btnTips);
					option.showElement.attr('disabled', false);
				} else {
					option.elementText.html(option.showTips.replace("%s", sec));
				}
			}, 1000);
		}

		function confirmRegister() {
			var gd = $('#gender').val().trim();
			if(gd != "男" &&  gd != "女") {
				alert('请在性别框输入"男"或"女"');
				return;
			}
			
			
			
			var data = {
				phone: $('#js-mobile-val').val().trim(),
				code: $('#vercode').val().trim(),
				name: $('#name').val().trim(),
				gender:gd == "男" ? 1 : 2,
				birthday: $('#birthday-picker').val()
			};

			console.log(data);
			if(checkInfo(data)) {
				register(data)
			}
		}
	</script>