<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>微尺伴客</title>
		<meta name="format-detection" content="telephone=no, address=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- apple devices fullscreen -->
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
		<script type="text/javascript" src="/javascripts/util.js"></script>
		<script src="/javascripts/require.js"></script>
		<script type="text/javascript" src="http://wechat.fangsuo.com/app/resource/js/lib/jquery-1.11.1.min.js?v=20160906"></script>
		<script type="text/javascript" src="http://wechat.fangsuo.com/app/resource/js/lib/mui.min.js?v=20160906"></script>
		<script type="text/javascript" src="http://wechat.fangsuo.com/app/resource/js/app/common.js?v=20160906"></script>
		<link href="http://wechat.fangsuo.com/app/resource/css/bootstrap.min.css?v=20160906" rel="stylesheet">
		<link href="http://wechat.fangsuo.com/app/resource/css/common.min.css?v=20160906" rel="stylesheet">
		<link href="http://wechat.fangsuo.com/addons/fangsuo/assets/css/fangsuo_v2.css" rel="stylesheet">
		<link href="http://wechat.fangsuo.com/addons/fangsuo/assets/css/icons-extra.css" rel="stylesheet">
		<link href="/stylesheets/mui.picker.min.css" rel="stylesheet" />
		<script src="/javascripts/mui.picker.min.js"></script>
		<script type="text/javascript">
			if(navigator.appName == 'Microsoft Internet Explorer') {
				if(navigator.userAgent.indexOf("MSIE 5.0") > 0 || navigator.userAgent.indexOf("MSIE 6.0") > 0 || navigator.userAgent.indexOf("MSIE 7.0") > 0) {
					alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
				}
			}
		</script>
	</head>

	<body>
		<div class="container container-fill">

			<div class="mui-content mc-login">
				<div class="avatar mui-text-center">
					<h1 class="fs_login_h1" style="color: #FF4040">微尺伴客会员卡注册<br>
            <small style="color : #FF6347">WHICHBANKS EXECUTIVE MEMBERSHIP REGISTRATION</small>
        </h1>
				</div>
				<div class="mc-login-code" id="register-code">
					<div class="sendcode">
						<div class="mui-input-group mui-mt15">
							<div class="mui-input-row">
								<input name="mobile" class="js-mobile-val en" type="text" placeholder="请输入手机号码" />
							</div>
						</div>
						<div class="mui-input-row" style="margin-bottom: 5px;">
							<input name="code" class="vercode en" type="text" placeholder="验证码">
							<div class="getcode">
								<div class="js-timer">
									<button class="mui-btn js-check-mobile" onclick="sendCode()">获取验证码</button>
								</div>
							</div>
						</div>

						<!--<div class="mui-input-group">-->
						<!--<div class="mui-input-row saomiao">-->
						<!--<input id="ticket" name="ticket" class="en" type="text" placeholder="小票单号"/>-->
						<!--<span id="sweep-btn" class="mui-icon-extra mui-icon-extra-sweep"></span>-->
						<!--</div>-->
						<!--</div>-->

						<p class="mui-text-muted small" style="margin-top: 15px; color: #525252; padding-left: 1px; margin-bottom: 5px">
							为保障您的权益，请完善以下资料：
						</p>

						<div class="mui-input-group">
							<div class="mui-input-row">
								<label for="name" style="color: #868686">姓名</label>
								<input class="mui-text-right" id="name" name="name" type="text" placeholder="" style="color: #868686" />
							</div>
						</div>
						<div class="mui-input-group" style="margin-bottom: 5px;">
							<div class="mui-input-row">
								<label style="color: #868686">性别</label>
								<input class="mui-text-right" id='gender-picker' type="text" placeholder="" style="color: #868686" />
								<input id='gender' value="1" type="hidden" />
							</div>
						</div>
						<div class="mui-input-group">
							<div class="mui-input-row">
								<label style="color: #868686">生日</label>
								<input id='birthday-picker' class="mui-text-right birth en" type="text" placeholder="" style="color: #868686" />
								<input id='birthday' type="hidden" />
							</div>
						</div>

						<div class="mui-mt15 mui-text-center">
							<p class="mui-text-muted mui-mb15 small">确认注册前，请详细阅读 <span style="color: #FF6347">《会员细则》</span></p>
							<button class="mui-btn mui-btn-success mui-btn-block sign-up" onclick="confirmRegister()" style="background-color: #FF4040;border: 0;">确认注册</button>
						</div>

					</div>

					<div class="mui-text-center mui-mt15 small">
						<form id="loginForm" action="/users/login" method="get">
							<a onclick="sendLogin()"><strong style="color: #FF4040">会员登录</strong></a>
						</form>
					</div>
				</div>
			</div>
	</body>
	<script>
		(function($, doc) {
			$.init();
			$.ready(function() {
				//普通示例
				var userPicker = new $.PopPicker();
				userPicker.setData([{
					value: '1',
					text: '男'
				}, {
					value: '2',
					text: '女'
				}]);
				var result = $('#gender')[0],
					gpi = $('#gender-picker')[0];
				gpi.addEventListener('tap', function() {
					userPicker.show(function(items) {
						result.value = items[0].value;
						gpi.value = items[0].text;
						//返回 false 可以阻止选择框的关闭
						//return false;
					});
				}, false);
			});
		})(mui, document);

		//选择时间 http://www.dcloud.io/hellomui/examples/dtpicker.html：
		(function($) {
			$.init();
			var result = $('#birthday')[0],
				bpi = $('#birthday-picker')[0];
			var picker = new $.DtPicker({
				type: "month",
				beginYear: "1900"
			});
			bpi.addEventListener('tap', function() {
				picker.show(function(rs) {
					/*
					 * rs.value 拼合后的 value
					 * rs.text 拼合后的 text
					 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
					 * rs.m 月，用法同年
					 * rs.d 日，用法同年
					 * rs.h 时，用法同年
					 * rs.i 分（minutes 的第二个字母），用法同年
					 */
					result.value = rs.value + '-01';
					bpi.value = rs.y.text + '年' + rs.m.text + '月';
					/*
					 * 返回 false 可以阻止选择框的关闭
					 * return false;
					 */
					//                    picker.dispose();
				});
			}, false);
		})(mui);
	</script>
	<style>
		.mui-input-row.saomiao>span {
			position: absolute;
			right: 0;
			top: 0;
			height: 44px;
			width: 40px;
			line-height: 46px;
			color: #868686;
			cursor: pointer;
		}
		
		.mui-text-muted {
			color: #9e9e9e
		}
	</style>
	<script type="text/javascript">
		function sendCode() {
			var data = {
				phone: $('.js-mobile-val').val()
			};
			if(checkMobile(data)) {
				confirmSendCode(data)
			}
		}

		function sendLogin() {
			document.getElementById("loginForm").submit();
		}

		function sendRequest(request) {
			var loading = $('<div class="mui-toast-container mui-active js-toast-loading"><div class="mui-toast-message"><div class="mui-toast-icon"><span class="fa fa-spinner fa-spin"></span></div>请求中</div></div>');
			document.body.appendChild(loading[0]);
			$.ajax({
				type: "POST",
				timeout: 10000,
				url: request.url,
				data: request.data,
				dataType: "json",
				success: function(res) {
					console.log("res : " + res["status"]);
					if(res['status'] != 1) {
						return util.toast(res['message'], '', 'error');
					}
					request.successCallback(res);
				},
				error: function(XMLHttpRequest, status) {
					if(status == 'timeout') {
						util.toast('请求超时，请稍后再试', '', 'error');
					} else {
						util.toast('请求失败，请稍后再试', '', 'error');
					}
				},
				complete: function() {
					loading.remove()
				}
			});
		}

		function checkMobile(data) {
			if(data.phone.length !== 11 || !/^1[3|4|5|7|8][0-9]{9}$/.test(data.phone)) {
				util.toast('请输入正确的手机号', '', 'error');
				return false;
			}
			return true;
		}

		function checkInfo(data) {
			if(!checkMobile(data)) {
				return false;
			}

			if(data.code.length !== 6) {
				util.toast('请输入正确的验证码', '', 'error');
				return false;
			}
			if(data.name.length == 0) {
				util.toast('请输入姓名', '', 'error');
				return false;
			}

			if(data.gender.length == 0) {
				util.toast('请输入性别', '', 'error');
				return false;
			}

			if(data.birthday.length == 0) {
				util.toast('请输入生日', '', 'error');
				return false;
			}
			return true
		}

		function register(data) {
			var signUp = {
				url: "/users/register",
				data: data,
				successCallback: function(data) {
					//do nothing
					window.location.href = data.url;
				}
			}
			sendRequest(signUp);
		}

		function confirmSendCode(data) {
			// };
			var confirmSendCode = {
				url: "/idcode/sendCode",
				data: data,
				successCallback: function() {
					//do nothing
					var option = {
						'showElement': $('.js-timer'),
						'showTips': "%s秒后重新获取",
						'btnTips': '<button class="mui-btn js-check-mobile">重新获取验证码</button>'
					};
					sendCodeUI(option, 60);
				}
			}
			sendRequest(confirmSendCode);
		}

		function sendCodeUI(option, sec) {
			option.showElement.html(option.showTips.replace("%s", sec));
			option.showElement.attr('disabled', true);
			var timer = setInterval(function() {
				sec--;
				if(sec <= 0) {
					clearInterval(timer);
					sec = 60;
					option.showElement.html(option.btnTips);
					option.showElement.attr('disabled', false);
				} else {
					option.showElement.html(option.showTips.replace("%s", sec));
				}
			}, 1000);
		}

		function confirmRegister() {
			var data = {
				phone: $('.js-mobile-val').val(),
				code: $('.vercode').val(),
				name: $('#name').val(),
				gender: $('#gender').val(),
				birthday: $('#birthday').val()
			};

			console.log(data);
			if(checkInfo(data)) {
				register(data)
			}
		}
	</script>